.hidden {
    display: none;
}
body {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
}
div {
    position: relative;
    overflow: auto;
    width: 450px;
    max-width: 100%;
    margin: 0px auto;
}
button {
    text-align: center;
    display: block;
    float: left;
    width: 45%;
    margin: 10px 2.5%;
}
button:first-child:last-child {
    width: 95%;
}
label {
    display: block;
    width: 95%;
    margin: 10px 2.5%;
}
#status {
    width: 400px;
    max-width: 85%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: hsl(60,100%,75%);
    box-shadow:0 0 20px black;
    cursor: pointer;
}
#credits {
    margin:0px;
    padding:7px;
    line-height:1.2;
    text-align:center;
}
