* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: hsl(0,0%,92%);
}
body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 16px;
    width: 570px;
    max-width: 100%;
}
.roundrect {
    margin: 5px;
    border: solid 1px hsl(0,0%,55%);
    background-color: hsl(0,0%,98%);
    border-radius: 10px;
}
.roundrect hr {
    border-color:hsl(0,0%,55%);
    border-style:solid none none;
    margin:0px;
    border-width:1px;
}
.roundrect > button:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.roundrect h3 {
    padding: 7px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    color: black;
}
.roundrect .content {
    margin: 10px;
    padding: 0px;
}
button, select {
    cursor: pointer;
    border: none;
    padding: 5px;
    transition:background-color .2s linear;
    -moz-appearance: none;
    -webkit-appearance: none;
}
form {
    margin: 8px;
}
label {
    margin: 6px 0 2px;
    color: black;
    display: block;
}
option {
    background-color:hsl(0,0%,95%);
}
input[type="radio"] {
    margin: 0 4px 0 1px;
    transform: translateY(1px);
}
#mmm-options:not(:hover) {
    background-color:transparent;
}

/* STATUS BOX */
#status {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: hsl(60,100%,75%);
    box-shadow: 0 0 20px black;
    cursor: pointer;
}

/* LIST OVERVIEW */
label > span {
    font-size: 11px;
    color: hsl(0,0%,50%);
}
label > span.error {
    color: hsl(0,100%,60%);
}
.mail {
    margin: 10px;
    border: solid 1px black;
}
.mail p, #details p {
    font-size: 13.5px;
    padding: 10px;
    margin: 0px;
    color: black;
}
.roundrect hr + h3 {
    margin: 15px 0 5px;
}

/* LIST ACTIONS */
.roundrect > .actiongroup:last-child > :first-child {
    float:left;
    width: 80%;
    height: 30px;
    border-bottom-left-radius: 8px;
}
.roundrect > .actiongroup:last-child > :last-child {
    float:left;
    height: 30px;
    width: 20%;
    border-bottom-right-radius: 8px;
}

/* MAIL DETAILS */
#headers, #fulltext {
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* BOX CONTROL */
.fw {
    width: 100%;
}
.hw {
    width: 50%;
    float: left;
    margin: 0;
}
.clearfix {
    overflow: auto;
}
.hidden {
    display: none;
}

/* COLORS */
.grey {
    background-color: hsl(0,0%,85%);
    color: black;
}
.grey:hover {
    background-color: hsl(0,0%,70%);
}
.yellow {
    background-color: hsl(60,100%,80%);
    color: black;
}
.yellow:hover {
    background-color: hsl(60,100%,45%);
}
.green {
    background-color: hsl(120,100%,80%);
    color: black;
}
.green:hover {
    background-color: hsl(120,100%,45%);
}
.blue {
    background-color: hsl(225,100%,85%);
    color: black;
}
.blue:hover {
    background-color: hsl(225,100%,72%);
}
.red {
    background-color: hsl(0,100%,85%);
    color: black;
}
.red:hover {
    background-color: hsl(0,100%,72%);
}
