* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    margin:0px;
    font-family: sans-serif;
    width: 540px;
    max-width: 100%;
}
.roundrect {
    margin:16px 7px 7px;
    border:solid 1px hsl(0,0%,70%);
    border-radius:9px;
}
.roundrect > button:last-child {
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
}
.roundrect h3 {
    position:relative;
    text-align:center;
    transform:translateY(-50%);
    margin:0px auto;
}
.roundrect h3 span {
    color:hsl(0,0%,20%);
    background-color:white;
    padding:0px 8px;
}
button {
    cursor:pointer;
    border:none;
    padding:5px;
    transition:background-color .2s linear;
}
.fw {
    width:100%;
}
.hw {
    width:50%;
    float:left;
    margin:0;
}
.clearfix {
    overflow:auto;
}
.hidden {
    display:none;
}
form {
    margin: 8px;
}
label {
    margin: 6px 0 2px;
    display:block;
}
#status {
    margin: 10px;
    text-align:center;
    font-style:italic;
}

/* List display */
#mmm-lists {
    margin-top:-12px;
    padding:8px;
}
span::before, span::after {
    font-size:.7em;
    color:hsl(0,0%,30%);
}
#mmm-lists div:not([data-mails]):not([data-err]) span::before {
    content: 'LOADING ';
}
#mmm-lists div[data-mails="0"] span::after {
    content: ' NO ACTION REQUIRED';
}
#mmm-lists div[data-err] span::after {
    color: red;
    content: ' UNKNOWN ERROR';
}
#mmm-lists div[data-err="notfound"] span::after {
    content: ' LIST NOT FOUND';
}
#mmm-lists div[data-err="badpass"] span::after {
    content: ' INVALID PASSWORD';
}
.mail {
    margin:10px 15px;
    border:solid 1px black;
}
.mail p, #details p {
    font-size:.85em;
    padding:10px;
    margin:0px;
}
/* mail details */
#headers, #fulltext {
    white-space: pre-wrap;
}
#headers::before, #fulltext::before {
    font-size: 1.2em;
    padding: 10px 0;
    display: block;
    color: hsl(0, 0%, 30%);
}
#headers::before {
    content: 'HEADERS';
}
#fulltext::before {
    content: 'CONTENT (shortened)';
}

/* buttons */
.grey {
    background-color:hsla(0,0%,70%,.3);
}
.grey:hover {
    background-color:hsla(0,0%,70%,1);
}
.yellow {
    background-color:hsla(60,100%,50%,.25);
}
.yellow:hover {
    background-color:hsla(60,100%,50%,1);
}
.green {
    background-color:hsla(120,100%,50%,.25);
}
.green:hover {
    background-color:hsla(120,100%,50%,1);
}
.blue {
    background-color:hsla(225,100%,80%,.5);
}
.blue:hover {
    background-color:hsla(225,100%,80%,1);
}
.red {
    background-color:hsla(0,100%,75%,.5);
}
.red:hover {
    background-color:hsla(0,100%,75%,1);
}
