* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    margin:0px;
    font-family: sans-serif;
    width: 500px;
    max-width: 100%;
}
.roundrect {
    margin:16px 7px 7px;
    border:solid 1px hsl(0,0%,70%);
    border-radius:7px;
}
.roundrect > button:last-child {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.roundrect h3 {
    position:relative;
    text-align:center;
    transform:translateY(-50%);
    margin:0px auto;
}
.roundrect h3 span {
    color:hsl(0,0%,20%);
    background-color:white;
    padding:0px 8px;
}
p {
    margin:5px;
    text-align:center;
}
button {
    cursor:pointer;
    border:none;
    padding:5px;
    transition:background-color .2s linear;
}
.fw {
    width:100%;
}
.hw {
    width:50%;
    float:left;
    margin:0;
}
.hidden {
    display:none;
}
form {
    margin: 8px;
}
label {
    margin: 6px 0 2px;
    display:block;
}
#status {
    font-style:italic;
}

/* List display */
#mmm-lists {
    margin-top:-12px;
    padding:8px;
}
span::before, span::after {
    font-size:.7em;
    color:hsl(0,0%,30%);
}
#mmm-lists div:not([data-mails]) span::before {
    content: 'LOADING ';
}
#mmm-lists div[data-mails="0"] span::after {
    content: ' NO ACTION REQUIRED';
}
.mail {
    margin:10px 20px;
    padding:8px;
    border:solid 1px black;
    font-size:.8em;
}


/* buttons */
.grey {
    background-color:hsla(0,0%,70%,.3);
}
.grey:hover {
    background-color:hsla(0,0%,70%,1);
}
.yellow {
    background-color:hsla(60,100%,50%,.25);
}
.yellow:hover {
    background-color:hsla(60,100%,50%,1);
}
.green {
    background-color:hsla(120,100%,50%,.25);
}
.green:hover {
    background-color:hsla(120,100%,50%,1);
}
.blue {
    background-color:hsla(225,100%,80%,.5);
}
.blue:hover {
    background-color:hsla(225,100%,80%,1);
}
.red {
    background-color:hsla(0,100%,75%,.5);
}
.red:hover {
    background-color:hsla(0,100%,75%,1);
}
