html {
    overflow-x: hidden;
}
body {
    margin:0px;
    font-family: sans-serif;
    width: 500px;
    max-width: 100%;
}
.roundrect {
    margin:16px 7px 7px;
    border:solid 1px hsl(0,0%,70%);
    border-radius:7px;
}
.roundrect > button:last-child {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.roundrect h3 {
    position:relative;
    text-align:center;
    transform:translateY(-50%);
    margin:0px auto;
}
.roundrect h3 span {
    color:hsl(0,0%,20%);
    background-color:white;
    padding:0px 8px;
}
#mmm-lists {
    margin-top:-7px;
}
p {
    margin:5px;
    text-align:center;
}
button {
    cursor:pointer;
    border:none;
    padding:5px;
    transition:background-color .2s linear;
}
.fw {
    width:100%;
}
.hw {
    width:50%;
    float:left;
    margin:0;
}
.hidden {
    display:none;
}
form {
    margin: 8px;
}
label {
    margin: 6px 0 2px;
    display:block;
}
input {
    box-sizing: border-box;
}
#status {
    font-style:italic;
}

/* buttons */
button.grey {
    background-color:hsla(0,0%,70%,.3);
}
button.grey:hover {
    background-color:hsla(0,0%,70%,1);
}
button.yellow {
    background-color:hsla(60,100%,50%,.25);
}
button.yellow:hover {
    background-color:hsla(60,100%,50%,1);
}
button.green {
    background-color:hsla(120,100%,50%,.25);
}
button.green:hover {
    background-color:hsla(120,100%,50%,1);
}
button.blue {
    background-color:hsla(225,100%,75%,.5);
}
button.blue:hover {
    background-color:hsla(225,100%,75%,1);
}
button.red {
    background-color:hsla(0,100%,75%,.5);
}
button.red:hover {
    background-color:hsla(0,100%,75%,1);
}
